*{
    box-sizing: border-box;
}
p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;

}
.sekil{
    padding-bottom: 20px;
}
   

.sekil img{
    width: 20px;
    height: 20px;
    object-fit: contain;
   
 }
.headerLeft{
   display: flex;
}
.headerLeft div  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerRight{
   display: flex;
}
.headerRight div{
     display: flex;
    justify-content: center;
    align-items: center;
}
.ferdi{
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}
.korporativ{
     border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.541);
}
.ferdi p{
    color: var(--primaryColor);
  
}
.odenis{
    padding-right: 20px;
}
.navbar{
    height: 20%;
}
.karqo{
    margin-right: 100px;
}
.karqo img{
   width: 50%;
   height: 100%;
   object-fit: contain;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
}
hr{border: gray;}
.qutu{
    display: flex;
}
.qutu2{
   width: 100%;
}

.link a{
    color: black;
}
.book{
    background-color: var(--primaryColor);
    border-radius: 7px;
}
.book a{
    color: white;
}
a:hover{
    color: black;
}
.dropdown button{
 background-color: white;
 color: black;
}