*{
    box-sizing: border-box;
}
p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}
.sekil{
    padding-bottom: 20px;
}
.sekil img{
    width: 20px;
    height: 20px;
    object-fit: contain;
   
 }
.headerLeft{
   display: flex;
}
.headerLeft div  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerRight{
   display: flex;
}
.headerRight div{
     display: flex;
    justify-content: center;
    align-items: center;
}
.ferdi{
  border-radius: 10px;
  border: 1px solid var(--primaryColor);
}
.korporativ{
     border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.541);
}
.ferdi p{
    color: var(--primaryColor);
}
.korporativ p{
    color: black;
}
.odenis{
    padding-right: 20px;
}
.odenis p{
    color: black;
}
.navbar{
    height: 20%;
}
.karqo{
    margin-right: 100px;
}
.karqo img{
   width: 50%;
   height: 100%;
   object-fit: contain;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
}
hr{border: gray;}
.qutu{
    display: flex;
}
.qutu2{
   width: 100%;
}

.link a{
    color: black;
}
.book{
    background-color: var(--primaryColor);
    border-radius: 7px;
}
.book a{
    color: white;
}
a:hover{
    color: black;
}
.dropdown button{
 background-color: white;
 color: black;
}
.subOption ul{
  display: flex;
}
.subOption li:not(:last-child):after {
    content: ">";
}

.link ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link ul li{
    margin-right: 30px;
}
.haqqimizda{
    color: #FFCC4D;
    padding-bottom: 20px;
   border-bottom: 2px solid #FFCC4D;
}
.haqqimizdaContainer>div{
    display: flex;
    gap: 24px;
    align-items: center;
}
.line{
    top: 100px;
    width: 52px;
    height: 0px;
    border: 1px solid var(--primaryColor);
    gap: 12px;
}
.haqqimizdaContainerleft1 {
    display: flex;
    align-items: center;
}
.p{
    font-size: larger;
    font-style: italic;
}
.haqqimizdaContainerleft2{
    margin-bottom: 64px;
}
.about{
    font: 400 16px;
    color: #4C4C4C;
    line-height: 26px;
}
.img{
    width: 600px;
    height: 375px;
    top: 450px;
    left: 108px;
    border-radius: 8px;
   object-fit: cover;
}

.haqqimizdaTitle p {
 font: 600 32px;
 color: black;
}
.xidmetsayi{
 background-color: black;
 width: 604px;
 height: 600px;
 left: 110px;
 
}
.xidmetsayi h2{
    color: white;
    font-size: bold;
    left: 108px;
    display: flex;
    justify-content: center;
}
 
.butContainer p{
  color: black;
  word-spacing: 6px;
}
.missiya{
    font-size: 32px;
}
.butContainerText{
    width: 504px;
}
.svg1 div {
   display: flex;
   gap: 30px;
}
.first{
    margin-bottom: 30px;
}
.bizNeceIsleyirikText{
    color: black;
    font-weight: 600;
    font-style: oblique;
    font-size: 32px;
}
.bizNeceIsleyirik div p{
   color: #000;
}
.suretliXidmet {
  color: #ffffff85;
  border: 1px solid #eaeaea;
  backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 47px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.suretliXidmet div:first-child {
  width: 58px;
  height: 58px;
  border-radius: 54px;
  background: #fff6e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suretliXidmet div:last-child {
  color: black;
  font: 500 18px var(--primaryFontFamily);
}
.xidmetLogo {
  width: 44px;
  height: 44px;
  border-radius: 54px;
  background: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 20px var(--mainFont);
  color: white;
  margin-bottom: 18px;
}

.xidmetTitle {
  font: 600 20px var(--mainFont);
  color: #111827;
  margin-bottom: 10px;
}

.xidmetDesc {
  font: 400 16px var(--mainFont);
  color: #4c4c4c;
}

.bizNecəIşleyirik {
  margin-bottom: 120px;
}

.bizNecəIşleyirik ul li {
  padding-bottom: 20px;
}

.bizNecəIşleyirik ul div:nth-child(odd) li {
  padding-left: 20px;
  border-left: 8px solid #f2f2f2;
}

.bizNecəIşleyirik ul > div:nth-child(odd) {
  display: flex;
  justify-content: end;
}

.bizNecəIşleyirik ul div:nth-child(even) li {
  padding-right: 20px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  align-items: end;
  border-right: 8px solid #f2f2f2;
}

.bizNecəIşleyirik ul div:nth-child(even) li div.xidmetDesc {
  text-align: end;
}

.selectedLogo {
  background-color: #FFCC4D;
}

.bizNecəIşleyirik ul div:nth-child(2) li {
  border-color: #FFCC4D;
}

.bizNecəIşleyirik ul > div:nth-child(1) li {
  border-radius: 10px 0 0 0;
}

.bizNecəIşleyirik ul > div:nth-child(6) li {
  border-radius: 0 0 10px 0;
}

.carousel-indicators [data-bs-target] {
  background-color: var(--mainColor);
}

.myCard {
  background-color: rgba(34, 31, 31, 0.1);
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.carousel-inner {
  border-radius: 10px;
}

.caruselImage {
  width: 200px;
  height: 200px;
  margin-bottom: 28px;
}
.caruselImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.caruselStars {
  margin-bottom: 16px;
}

.caruselDesc {
  font: 400 16px var(--mainFont);
  color: #989898;
  margin-bottom: 28px;
}

.caruselAuthor {
  font: 600 18px var(--mainFont);
  color: var(--mainColor);
}
.caruselStars img {
    width: 20px;
}